<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>LOGIN PAGE</title>
</head>
<body>
    <div class="container">
        <div class ="logo">
            <h1>LOGO</h1>
        </div>
        <div class="login-container">
        <form class="form">
            <input name= "email" type="text" placeholder="email@email.com">
            <input type="password" name="password" placeholder="password">
            <button>LOGIN</button>
        </form>
        </div>
    </div>
</body>
</html>